body{
	background-color:#f08080;
}

h1{
	font-family:verdana;
	font-size:60px;
	text-align:center;
}

#imagem{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

p{
	font-family:arial;
	font-size:20px;
	text-align:center;
}